@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

#bibliographical-note p:last-child{
	font-variant: small-caps;
	margin-top: 1em;
	text-align: right;
}

.bookend,
[epub|type~="conclusion"] p{
	font-style: italic;
	margin-top: 1em;
	text-align: center;
}

dd + dt{
	margin-top: 1.5em;
}
